@import "tailwindcss";

@source "./safelist.txt";

@plugin '@tailwindcss/forms';

@variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

a,
button {
  cursor: pointer;
}

.disable-link {
  pointer-events: none;
}

input::placeholder {
  font-size: 14px;
}

input[type="text"] {
  font-size: 14px;
}

input[type="email"] {
  font-size: 14px;
}
